@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 353 44% 92%;
    --foreground: 352 69% 15%;
    --card: 353 44% 95%;
    --card-foreground: 352 69% 15%;
    --popover: 353 44% 95%;
    --popover-foreground: 352 69% 15%;
    --primary: 352 69% 49%;
    --primary-foreground: 0 0% 98%;
    --secondary: 353 44% 85%;
    --secondary-foreground: 352 69% 15%;
    --muted: 353 44% 85%;
    --muted-foreground: 352 69% 30%;
    --accent: 39 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 353 44% 80%;
    --input: 353 44% 80%;
    --ring: 352 69% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 353 10% 10%;
    --foreground: 0 0% 98%;
    --card: 353 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 353 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 352 69% 49%;
    --primary-foreground: 0 0% 98%;
    --secondary: 353 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 353 10% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 39 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 353 10% 20%;
    --input: 353 10% 20%;
    --ring: 352 69% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
